body {
  margin: 0;
  /* background: silver; */
}

// navbar
.navbar {
  /* background: white; */
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.logo {
  font-weight: bold;
}

// Dark Mode
.dark-mode .navbar {
  background: #222;
}
.dark-mode .navbar a {
  color: white;
}

// List
.list-bg {
  /* background: rgb(249, 250, 255); */
  /* background: silver; */
  padding: 10px;
}
.list-item {
  background: darkgray;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;

  opacity: 1;
  transition: all 1s;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: gray;
  margin: 5px 0px;
}

// Write, Login Page
.p-20 {
  padding: 20px;
}
input {
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: block;
}
button {
  margin-bottom: 10px;
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
}

// Edit page
a {
  text-decoration: none;
  color: black;
}
Link {
  text-decoration: none;
  color: black;
}
